/**
 * 'Inset' styling for code examples
 */

code,
samp,
kbd {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.82);
  border-bottom: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
  color: #f7f7f7;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 0.9em;
  padding: 2px 6px;
  text-align: left;
  text-shadow: 1px 2px 1px #000;
}

pre {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.82);
  border-bottom: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
  color: #f7f7f7;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  padding: 0.5em 0.5em 0.5em 1em;
  text-shadow: 1px 2px 1px #000;
}

/**
 * Override 'code' css rules if using 'pre > code' markup.
 */
pre > code {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 1em;
  padding: 0px;
}

/**
 * target IE7 and IE6
 */
*:first-child+html pre {
  overflow: visible;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2em;
}

* html pre {
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2em;
}
