/* 'Night' styling for code examples */

code, samp, kbd {
	background-color: #292929;
	color: #F7F7F7;	
	font-family: "Inconsolata", "Menlo", "Consolas", monospace;
	font-size: 0.9em;
	text-align: left;
	padding: 2px 6px;
	}

pre, pre code {
	font-family: "Inconsolata", "Menlo", "Consolas", monospace;
	font-size: 0.9em;
	background-color: #292929;
	color: #F7F7F7;
	padding: 0.5em 0.5em 0.5em 0.7em;
	border-left: 11px solid #383838;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	line-height: 1.2em;
	}

/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}

* html pre { 
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
	}