/**
 * 'Night' styling for code examples
 */
code,
samp,
kbd {
  background-color: #292929;
  color: #f7f7f7;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 0.9em;
  padding: 2px 6px;
  text-align: left;
}

pre {
  background-color: #292929;
  border-left: 11px solid #383838;
  color: #f7f7f7;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  padding: 0.5em 0.5em 0.5em 0.7em;
}

/**
 * Override 'code' css rules if using 'pre > code' markup.
 */
pre > code {
  font-size: 1em;
  padding: 0px;
}

/**
 * target IE7 and IE6
 */
*:first-child+html pre {
  overflow: visible;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2em;
}

* html pre {
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2em;
}
