/**
 * 'Simple' styling for code examples
 */
code,
samp,
kbd {
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  padding: 0 6px;
  text-align: left;
}

pre {
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  line-height: 1.2em;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 0 0 1.5em;
}

/**
* Override 'code' css rules if using 'pre > code' markup.
*/
pre > code {
  padding: 0px;
}

/**
 * target IE7 and IE6
 */
*:first-child+html pre {
  overflow: visible;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2em;
}

* html pre {
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2em;
}
