/**
 * Writer - A theme by Bryan Braun
 * http://bryanbraun.com
 *
 * Principles:
 * - Brutally simple design
 * - Fantastic typography
 * - Support for code snippets
 */

/**
 * CSS Reset designed by Eric Meyer
 * http://meyerweb.com/eric/tools/css/reset/
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/**
 * HTML5 display-role reset for older browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * remember to define visible focus styles!
 * :focus {
 *   outline: ?????;
 * }
 */

/**
 * remember to highlight inserts somehow!
 */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Writer Theme Styles
 */

/**
 * General Styles
 */
body {
  background-color: #f7f7f7; /* Nearly White */
  color: #292929; /* Nearly Black */
  font-family: 'Merriweather', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 1em 0;
}
h1 {
  font-size: 2.62em;
}
h2 {
  font-size: 1.94em;
}
h3 {
  font-size: 1.62em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}

p {
  margin-bottom: 1em;
}

img {
  margin: 20px;
}

a {
  color: #888888;
  text-decoration: none;
}

ul,
ol,
dl {
  margin: 1em 0;
  padding-left: 40px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

blockquote {
  font-style: italic;
  margin-left: 1.94em;
}

#wrapper {
  font-size: 1.25em;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 0 0 180px;
}

section {
  line-height: 1.62em;
  padding-top: 1px;
  position: relative;
}

/**
 * Specific Styles
 */
header {
  padding: 1.62em 0;
  width: 100%;
}

.head-wrap {
  padding: 1em 0;
}

#site-name {
  float: left;
  width: 48%;
}
#site-name a {
  color: #888888;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.comment p {
  font-size: 0.9em;
}

.comment .submitted {
  font-size: 0.8em;
  margin-bottom: 8px;
}

div.messages {
  padding: 0 6px;
}

.status {
  background: #b2d8ff;
  border: 1px solid #4a77a3;
}

/**
 * Navigation
 */
nav {
  float: right;
  width: 48%;
}
nav ul {
  margin: 0;
}
nav li {
  float: left;
  line-height: 11px;
  list-style-type: none;
  padding: 4px 0.5em;
}
nav a {
  color: #888888;
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
  margin-bottom: 4px;
  padding-bottom: 6px;
  text-decoration: none;
  text-transform: uppercase;
}
nav a.active {
  border-bottom: 2px solid #888888;
  color: #888888;
  padding-bottom: 4px;
  text-decoration: none;
}

ul.tabs li.active a {
  background-color: #f7f7f7;
  border-bottom-color: #f7f7f7;
}

/**
 * Content styles
 */
.date {
  color: #888888;
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 700;
  height: 2.62em;
  left: -190px;
  line-height: 1.2em;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 49px;
  width: 150px;
}

/**
 * article time.date {
 * }
 */
.date-wrap {
  padding-top: 1px;
  position: relative;
}
.date-wrap h2 {
  margin-bottom: 0;
}

.item-list ul.pager {
  font-size: 0.7em;
  margin-top: 50px;
}

/**
 * Footer
 */
footer {
  float: right; /* ? */
  padding: 1.62em 0;
  width: 100%;
}

#footer_left {
  float: left;
  width: 49%;
}

#footer_right {
  float: right;
  width: 49%;
}

.footer-msg {
  color: #292929;
  float: left;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
  text-decoration: none;
  text-transform: uppercase;
  width: 48%;
}

.foot-links {
  float: right;
  width: 48%;
}

.foot-wrap {
  padding-top: 15px;
}
.foot-wrap .links ul {
  margin: 0;
}
.foot-wrap .links li {
  float: left;
  line-height: 11px;
  list-style-type: none;
  padding: 4px 0.5em;
}
.foot-wrap .links a {
  color: #888888;
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
  text-decoration: none;
  text-transform: uppercase;
}

/**
 * Adjustments for small devices
 */
@media screen and (max-width: 750px) {
  .date {
    position: static;
    text-align: left;
  }

  #wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 580px) {
  #footer_left {
    float: none;
    width: 100%;
  }

  #footer_right {
    float: none;
    width: 100%;
  }
}

/**
 * uncomment to try out indented paragraphs
 * article p:first-of-type {
 *   text-indent: 0px;
 * }
 *
 * article p {
 *   margin: 0px;
 *   text-indent: 1.5em;
 * }
 */

/**
 * reusable classes
 */
.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}

/**
 * clearfix technique
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
