/**
 * Writer - A theme by Bryan Braun
 * for Drupal 7
 * http://bryanbraun.com
 *
 * Principles:
 * - Brutally simple design
 * - Fantastic typography
 * - Support for code snippets
 */

/**
 * CSS Reset designed by Eric Meyer
 * http://meyerweb.com/eric/tools/css/reset/
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/**
 * HTML5 display-role reset for older browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * remember to define visible focus styles!
 * :focus {
 *   outline: ?????;
 * }
 */

/**
 * remember to highlight inserts somehow!
 */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Writer Theme Styles
 */

/**
 * General Styles
 */

html {
  overflow-y: scroll;
}

body {
  background-color: #f7f7f7; /* Nearly white */
  color: #292929; /* Nearly black */
  font-family: 'Merriweather', 'Palatino Linotype', 'Book Antiqua', Palatino,
    serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 1em 0;
}

h1 {
  font-size: 2.6em; /* 20px * 2.6 = 52px */
}

h2 {
  font-size: 1.9em; /* 20px * 1.9 = 38px */
}

h3 {
  font-size: 1.6em; /* 20px * 1.6 = 32px */
}

h4 {
  font-size: 1.4em; /* 20px * 1.4 = 28px */
}

h5 {
  font-size: 1.2em; /* 20px * 1.2 = 24px */
}

h6 {
  font-size: 1em; /* 20px * 1 = 20px */
}

p {
  margin-bottom: 1em;
}

a {
  color: #888888;
  text-decoration: none;
}

ul,
ol,
dl {
  margin: 1em 0;
  padding-left: 40px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

.writer .wrapper ul li,
.writer .wrapper ol li,
.writer .wrapper dl dt {
  padding-top: 5px;
  padding-bottom: 5px;
}

.writer .wrapper .krumo-root li {
  /* correct padding on debugging lists */
  padding: 0;
}

blockquote {
  font-style: italic;
  margin-left: 1.94em;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

table {
  margin: 1em 0;
  width: 100%;
}

th,
td {
  border: solid 1px #ccc;
  padding: 5px 11px;
  vertical-align: top;
}

#wrapper {
  font-size: 1.25em; /* 16px * 1.25 = 20px */
  margin: 0 auto;
  padding: 0 0 0 180px;
  /* default width -- will be overridden if alternative inline rule is specified */
  max-width: 630px;
}
#wrapper.no-publish-date {
  padding: 0 100px;
}

.main-content {
  line-height: 1.62;
}

.messages,
.error {
  font-family: 'Lato', Helvetica, sans-serif;
}

/**
 * Form Styles
 */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='time'],
input[type='datalist'],
textarea {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.8em;
  border: 1px solid #ccc;
  padding: 3px 5px;
}
.form-submit {
  background: #aaa;
  border: 1px solid #aaa;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 0 2px;
  cursor: pointer;
  padding: 5px 10px;
}
.form-submit:hover {
  background: #999;
  border-color: #999;
}

.search-block-form {
  margin: 1em 0;
  zoom: 1;
}
.search-block-form:before,
.search-block-form:after {
  content: '';
  display: table;
}
.search-block-form:after {
  clear: both;
}
.search-block-form h2 {
  display: none;
}
.search-block-form input {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
}
.search-block-form .form-search {
  width: 220px;
}
.search-block-form .form-submit {
  padding: 3px 6px;
}
#search-block-form {
  text-align: right;
}
#search-block-form > div {
  display: inline;
}

/**
 * Specific Styles
 */
#site-header {
  padding: 1.62em 0;
  width: 100%;
}

.head-wrap {
  padding: 16px 0;
}

.logo-wrap {
  left: 0;
  position: absolute;
}

.site-name-wrap {
  float: left;
  width: 48%;
}

#site-name {
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

#site-name a {
  color: #888888;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

#site-slogan {
  color: #888888;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.comment p {
  font-size: 0.9em;
}

.comment .submitted {
  font-size: 0.8em;
  margin-bottom: 8px;
}

.comments h2 {
  font-size: 1.6em;
}
.comments h3 {
  font-size: 1.3em;
}
.comments h4 {
  font-size: 1.2em;
}
.comments h5 {
  font-size: 1.1em;
}

.filter-wrapper {
  font-size: 0.8em;
}

div.messages {
  line-height: 1.25;
}

.status {
  background: #b2d8ff;
  border: 1px solid #4a77a3;
}

ul.primary {
  font-size: 0.9em;
}

/**
 * Navigation
 */
header nav {
  float: right;
  max-width: 48%;
}

header nav ul {
  margin: 0;
}

header nav li {
  float: left;
  line-height: 11px;
  list-style-type: none;
  padding: 4px 0.5em;
}

header nav a {
  color: #888888;
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
  margin-bottom: 4px;
  padding-bottom: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav a.is-active {
  border-bottom: 2px solid #888888;
  color: #888888;
  padding-bottom: 4px;
  text-decoration: none;
}

nav h2 {
  /* Hide titles of theme menus. These are displayed at some screen sizes. */
  display: none;
}

li a.is-active {
  color: #888888;
  text-decoration: none;
}

ul.tabs li.is-active a {
  background-color: #f7f7f7;
  border-bottom-color: #f7f7f7;
}

header nav li {
  padding: 0 0.5em;
}

/**
 * Content styles
 */
.writer-date {
  color: #888888;
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 700;
  left: -190px;
  line-height: 1.2em;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 11px;
  width: 150px;
}

.node.contextual-region {
  position: static;
}

article.not-page {
  position: relative;
}

.main-content {
  position: relative;
}

.not-page .links {
  font-size: 0.85em;
}

.not-page .field-name-body {
  border-bottom: none;
  margin-bottom: 0;
}

.main-content img {
  height: auto;
  margin: 20px;
  max-width: 95%;
  width: auto;
}

.item-list ul.pager {
  font-size: 0.7em;
  margin-top: 50px;
}

.field {
  margin-bottom: 1em;
}

.field-name-body {
  border-bottom: 1px solid transparent;
}

.field-type-taxonomy-term-reference div.field-item {
  display: inline;
}

.field-type-taxonomy-term-reference div.field-item a {
  padding-right: 1em;
}

/**
 * Footer
 */
.page-footer {
  float: right;
  padding: 1.62em 0;
  width: 100%;
}

#footer_left {
  float: left;
  width: 49%;
}
#footer_right {
  float: right;
  width: 49%;
}

.footer-msg {
  color: #292929;
  width: 50%;
}

.footer-msg h2 {
  display: none; /* Auto-hide any title in the footer message region */
}

.foot-links {
  float: right;
  margin-left: 15px;
  max-width: 50%;
}

.foot-wrap {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.62em;
  padding-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.foot-links ul.menu {
  margin: 0;
}

.foot-wrap .foot-links li {
  float: left;
  line-height: 11px;
  list-style-type: none;
  padding: 0 0.5em 8px;
}

.foot-wrap .foot-links a {
  color: #888888;
  display: block;
  font-size: 1em;
}

ul.menu a.is-active {
  color: #888888;
}

.contextual-links a {
  /* Prevents above style from affecting contextual link menus. */
  text-transform: none;
}

/**
 * Adjustments for small devices
 */
@media screen and (max-width: 800px) {
  #site-header {
    padding: 0;
  }

  #search-block-form {
    text-align: center;
  }

  #search-block-form > div {
    float: none;
    display: inline;
  }

  .form-item-search-block-form input {
    width: 150px;
  }

  .logo-wrap {
    margin-bottom: 16px;
    position: static;
    width: 100%;
  }

  .writer-date {
    position: static;
    text-align: left;
  }

  .meta time.writer-date {
    padding-bottom: 1.62em;
  }

  .main-content > h1 {
    margin: 25px 0;
  }

  .writer #wrapper {
    padding: 0 16px;
  }
}

@media screen and (max-width: 580px) {
  /* Resize standard text input fields for mobile */
  input:not([type]),
  input[type='text'],
  input[type='password'] {
    width: 90%;
  }

  #footer_left {
    float: none;
    width: 100%;
  }

  #footer_right {
    float: none;
    width: 100%;
  }

  /* Return to default font size and spacing (w/ exceptions) */
  #wrapper {
    font-size: 1em;
  }

  .head-wrap {
    font-size: 1.25em;
    padding: 1em 0 0;
  }

  .page-footer .foot-wrap {
    font-size: 0.75em;
  }

  /* Minor layout changes */
  .site-name-wrap {
    text-align: center;
    width: 100%;
  }

  .logo-wrap {
    text-align: center;
  }

  .page-footer {
    padding: 16px 0 0;
  }

  /* Styles for responsive mobile menu */
  header nav {
    /* moves the menu below */
    max-width: 100%;
    padding-top: 20px;
    width: 100%;
  }

  header nav > h2 {
    /* Styles for toggle button */
    color: #888;
    display: block;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 0.62em;
    font-weight: normal;
    margin: 0 0 -1px;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    /* for overriding 'visually hidden' applied by core */
    position: static !important;
    width: 100%;
    height: 14px;
  }

  .js header nav ul {
    /* if js is enabled, toggle will work */
    display: none;
  }

  header nav ul {
    /* if js is not enabled, show menu */
    display: block;
    padding: 0;
  }

  header nav ul li {
    /* make wide rectangular box */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -1px;
    padding: 0;
    width: 100%;
  }

  header nav ul li a {
    /* aligns text in box */
    display: block;
    margin: 0;
    padding: 14px;
    text-align: center;
  }

  #menu-arrow {
    /* Style menu arrow. */
    background: url('../img/dropdown-arrows.png') 2px -13px no-repeat;
    height: 12px;
    padding-right: 24px;
  }

  #menu-arrow.menu-open {
    background: url('../img/dropdown-arrows.png') 2px 0 no-repeat;
  }

  header nav a.is-active {
    /* removed default link underlining */
    border-bottom: none;
    padding-bottom: 14px;
  }
}

/**
 * uncomment to try out indented paragraphs
 * article p:first-of-type {
 *   text-indent: 0;
 * }
 *
 * article p {
 *   text-indent: 1.5em;
 *   margin: 0;
 * }
 */

/**
 * Helper classes
 */
.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/**
 * Clearfix technique
 */
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
