/**
 * 'Zebra' styling for code examples
 */
code,
samp,
kbd {
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  padding: 0 6px;
  text-align: left;
}

pre {
  background-color: #2f2f2f;
  background-image: -moz-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
  background-image: -ms-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
  background-image: -o-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
  background-image: -webkit-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
  background-image: repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
  border: 11px solid #383838;
  color: #f7f7f7;
  font: normal 12px/22px Monaco, monospace !important;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  padding: 0em 1em;
}

/**
* Override 'code' css rules if using 'pre > code' markup.
*/
pre > code {
  font: normal 12px/22px Monaco, monospace !important;
  padding: 0px;
}

/**
 * target IE7 and IE6
 */
*:first-child+html pre {
  overflow: visible;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2em;
}
* html pre {
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2em;
}
